#wrapper{
    background-image: url(./11.jpeg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:650px;
	position: relative;
}

#main{
    background-color: lightsteelblue; 
}

